@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;    
    cursor: none;
}

::-webkit-scrollbar{
    background-color: #565637;
    width: 0.4rem;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb{
    background-color: #f0f08e;
    border-radius: 1rem;
}

::-webkit-scrollbar-track{
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #f5f522;
    cursor: pointer;
}